.product {
    position: relative;
    overflow: hidden;
  }
  
  .product-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    padding: 0rem 1rem;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%); */
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%); */
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0rem;
    transform: translateY(-50%);
  }
  
  .nxt-btn {
    right: 0rem;
    transform: translateY(-50%);
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.3;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }

  @media only screen and (max-width: 767px) {
    .pre-btn, .nxt-btn {
      display: none;
    }
  }
